

body {
  margin: 0;
  padding: 0 50px;
/*  background-color: #e7eef1;*/
  background: url('/static/bg_motif.png') no-repeat top left,
              url('/static/bg_motif_bottom.png') no-repeat bottom right,
              #e7eef1;
  display: block;
  color: #707070;
}

a {
  color: #707070;
  text-decoration: none;
}

.right {
  float: right;
}

#header,
#description,
#content,
#footer {
  margin-top: 40px;
 /* width: 100%;*/
}

#header #main-header {
  background: #FFF;
  color: #3d6e81;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 10px;
  z-index: 10;
}

#main-header h1 {
 margin-right: 300px;
 display: inline;
 color:  #3d6e81;
}

#main-header hr {
 clear: both;
}

#main-header .pure-menu {
  text-align: center;
}

#main-header .pure-menu-item {
  padding: 0 10px;
}

#main-header,
#sub-header {
  position:relative;
}

#header #sub-header {
  margin-top: -10px;
  padding: 10px;
  padding-top: 20px;
  background: #f3f6f8;
}

.pure-menu-horizontal .pure-menu-item {
  height: auto;
}

#description {
  text-align: center;
  width: 100%;
}

#description .flex-h {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.media_main {
  width: 100%;
}

.media_main audio {
  width: 100%;
}

#content .text {
  margin-top: 2em;
  margin-bottom: 2em;
  width: 60%;
}


.centered {
  margin-left: auto;
  margin-right: auto;
  display: table;
}

.button-main {
  background: #ef6d53;
  color: white;
}

.flex-h > img {
  display: block;
  margin: 2em;
}

#description .content {
  max-width: 50%;
}

.card {
  width: 100%;
  height: 350px;
  position: relative;
  background: #FFF;
  display: block;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-radius: 5px;
}

.card h3 {
  margin-bottom: 10px;
  line-height: 1.6em;
  display: inherit;
}
.card h3 span:not(.theme)::before {
  content: " ";
}
.card h3 a,
.card > a,
a.card {
  text-decoration: none;
}

.card .top-box {
  padding: 2em;
}
.card .theme {
  text-transform: uppercase;
  color: #fff;
  padding: 5px 10px;
  text-decoration: none;
  background-color: #87D37C;
}

.card h3 {
  margin-top: 2em;
}

.card .bottom-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.card .bottom-box .bottom {
  background: #ef6d53;
  color: #FFF;
  text-align: center;
  padding: 1em;
}

.card hr {
  border-style: solid;
  border-color: #ddd;
  color: #ddd;
  margin: 10px auto;
  width: 80%;
}

.card .meta-data {
  padding-bottom: 0.4em;
}

.card .meta-data .fa {
  margin-left: 1em;
  margin-right: 0.2em;
}

.pure-u .outter-box {
  padding: 1em;
}

@media screen and (max-width: 600px) {
  #description .flex-h {
    flex-direction: column;
  }
  #description .hidden-small {
    display: none;
  }
}
