<div class="pure-u pure-u-1-1 pure-u-md-1-2 pure-u-lg-1-3 pure-u-xl-1-4">
  <div class="outter-box">
    <a href="{{ url_for('view', tag=tagged.name, nav='add') }}"
       class="card">
      <div class="top-box">
        <span class="theme"><i class="fa fa-compass"></i> Discover</span>
        <h3>{{ tagged.title }}</h3>
        <p>{{ tagged.description }}</p>
      </div>
      <div class="bottom-box">
        <hr />
        <div class="meta-data">
           {% if tagged.kind == tagged.TAG %}
             <i class="fa fa-file-video-o"></i>{{ tagged.nb_videos() }}
             <i class="fa fa-file-image-o"></i>{{ tagged.nb_images() }}
             <i class="fa fa-file-audio-o"></i>{{ tagged.nb_audios() }}
           {% else %}
             <i class="fa fa-language"></i>{{ tagged.language }}
             <i class="fa fa-child"></i>{{ tagged.age_category }}
           {% endif %}
        </div>
        <div class="bottom">
          Découvrir
          {% if tagged.kind == tagged.TAG %}
            cette thématique
          {% else %}
            ce media {{ tagged.kind }}
          {% endif %}
        </div>
      </div>
    </a>
  </div>
</div>
