{% extends "layout.html" %}

{% block content %}
  <div id='description'>
    <div class='flex-h'>
      <img src="{{ url_for('static', filename='motif.png') }}" class="hidden-small"/>
      <div class='content'>
        <h2>{{ elem.title }}</h2>
        <p>{{ elem.description }}</p>
      </div>
      <img src="{{ url_for('static', filename='motif.png') }}"/>
    </div>
  </div>

  <div class="pure-g">
    {% for tagged in elem.taggeds %}
      {% include 'card.html' %}
    {% endfor %}
  </div>
{% endblock %}
