<html>
  <head>
    <title>{{ elem.title }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='pure-1.0.0/pure-min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='pure-1.0.0/grids-responsive-min.css') }}">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
  </head>
  <body>
    <div id='header'>
      {% block header %}
        <div id="main-header">
          <a href="/"><h1>{{ box.name }}</h1></a>
          <span class="right">Search <i class="fa fa-search"></i></span>
          <hr />
          <div class="pure-menu pure-menu-horizontal">
            <ul class="pure-menu-list">
              {% for item in menu.taggeds %}
                <li class="pure-menu-item">
                  <a href="{{ url_for('view', tag=item.name) }}">{{ item.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      {% endblock %}
    </div>

    <div id='content'>
      {% block content %}
      {% endblock %}
    </div>

    <div id='footer'>
      {% block footer %}
        Propulsé par : IDEASBOX and BSF
      {% endblock %}
    </div>
  </body>
</html>
