{% extends "layout.html" %}

{% block header %}
  {{ super() }}
  <div id="sub-header">
    {% include 'navbar.html' %}
    <h2>{{ elem.title }}</h2>
  </div>
{% endblock %}

{% block content %}
  <div class="media_main">
    {% if elem.kind == elem.IMAGE %}
      <img src="{{ elem.original }}" />
    {% elif elem.kind == elem.VIDEO %}
      <video controls preload="none" width="100%"
        {% if elem.preview %}
          poster="{{ elem.preview }}"
        {% endif %}
      >
        <source src="{{ elem.original }}">
        Your web browser doesn't support this media type.
      </video>
    {% elif elem.kind == elem.AUDIO %}
      <audio controls preload="none" width="100%">
        <source src="{{ elem.original }}">
        Your web browser doesn't support this media type.
      </audio>
     {% elif elem.preview %}
       <a href="{{ elem.original }}"><img src="{{ elem.preview }}" /></a>
     {% endif %}
  </div>
  <div class="text centered">{{ elem.text|safe }}</div>
  <a class="pure-button button-main" href="{{ elem.original }}">
    <span class="fa fa-download fa-fw"></span>
    Download {{ elem.kind }}
  </a>
{% endblock %}
