<div id='navbar'>
  {% block navbar %}
    {% for parent in nav_history %}
      <a href="{{ url_for('view', tag=parent.name, nav='rem') }}">{{ parent.title }}</a> >
    {% endfor %}
    {{ elem.title }}
  {% endblock %}
</div>
